<!doctype html>
{% load static %}
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
<!-- fonts -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

  <title> {% block title %}{% endblock %}</title>
  {% block css %}{% endblock %}

</head>

  <body>
<!-- navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top"> 
    <div class="container-fluid"> 
      <a class="navbar-brand mx-2" href="/"><span id="sname">Sparks</span><span id="ename">Foundation</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link {% block homeactive %}{% endblock %}" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link {% block aboutactive %}{% endblock %}" href="{% url 'about'%}">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% block contactactive %}{% endblock %} " href="{% url 'contact'%}">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% block courseactive %}{% endblock %} " href="{% url 'course'%}">Free Courses</a>
          </li>
        </ul>
       
    <!-- buttons for login, signup, logout -->
        {% if user.is_authenticated  %}
        <ul class="navbar-nav  mb-2 mb-lg-0">
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Welcome {{request.user}}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/logout">Logout</a></li>
          </ul>
        </li>        
      </ul>
        {% else %}
        <button class="btn btn-outline-danger" type="submit"data-bs-toggle="modal" data-bs-target="#loginModal">Login</button>
        <button class="btn btn-outline-danger mx-2" type="submit" data-bs-toggle="modal" data-bs-target="#signupModal">SignUp</button>
        {% endif %}
        
      
      </div>
    </div>
  </nav>
 
  <!-- login modal -->
  <div class="modal" id="loginModal" role= "dialog" tabindex="-1">
    <div class="modal-dialog" >
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Login Here!</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="post" action="/login/">
           {% csrf_token %}
            <div class="mb-3">
              <label for="exampleInputName" class="form-label">Username</label>
              <input type="text" class="form-control" name="llname" id="llname" aria-describedby="emailHelp" required>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="lpassword1" name="lpassword1" required>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
           
          </form>
        </div>
        
      </div>
    </div>
  </div>

  <!-- signup modal -->
  <div class="modal" id="signupModal" role= "dialog" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title">SignUp Here!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <div class="modal-body">
          <form method="post" action="/signup/">
           {% csrf_token %}
            <div class="mb-3">
              <label for="exampleInputName" class="form-label">First Name</label>
              <input type="text" class="form-control" name="fname" id="fname" aria-describedby="emailHelp" required>
            </div>
            <div class="mb-3">
              <label for="exampleInputName" class="form-label">Last Name</label>
              <input type="text" class="form-control" name="lname" id="lname" aria-describedby="emailHelp" required>
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control"  name="email" id="email" aria-describedby="emailHelp" required>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" name= "spassword1" id="spassword1" required >
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
              <input type="password" class="form-control" name= "spassword2" id="spassword2"required>
            </div>
            <button type="submit" class="btn btn-primary">SignUp</button>
          </form>
        </div>
        
      </div>
    </div>
  </div>

  {% block content %}

  {% endblock %}

<footer id="{% block footer %}{% endblock  %}" class="footer mt-auto py-3 bg-dark text-center">
  <div class="container">
    <span class="text-muted">&copy; 2021  | All Rights Reserved.</span>
  </div>
</footer>
  {% block script %}

  {% endblock %}

  

 
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
    crossorigin="anonymous"></script>
   <script src="{% static 'js\javas.js' %}"></script>  
 
</body>
</html> 